In [20]:
import pandas as pd
import numpy as np
kg = pd.read_csv('kg(3in1).csv')
pkg = pd.read_csv('pkg(remove_back_edge).csv')

C:\Users\Tianqi\AppData\Local\Temp\ipykernel_3768\2809246610.py:3: DtypeWarning: Columns (1,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  kg = pd.read_csv('kg(3in1).csv')
C:\Users\Tianqi\AppData\Local\Temp\ipykernel_3768\2809246610.py:4: DtypeWarning: Columns (6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pkg = pd.read_csv('pkg(remove_back_edge).csv')

In [2]:
kg

,relation,head,tail,head_type,tail_type,weight,head_id,tail_id,head_cui,tail_cui,x_id,y_id
0,subordinate1,Access to Health Services,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subordinate1,Access to Primary Care,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,subordinate1,Health Literacy,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,subordinate1,Health Insurance,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,subordinate1,Early Childhood Development and Education,Education access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6664545,ethnicity_disease,African American,premature aging,ethnicity,disease,50.0,NaN,NaN,NaN,C0231341,NaN,D019588
6664546,ethnicity_disease,Black,hepatitis C co-infection,ethnicity,disease,100.0,NaN,NaN,NaN,C0275524,NaN,D060085
6664547,ethnicity_disease,Black,hepatitis C,ethnicity,disease,50.0,NaN,NaN,NaN,C0524910,NaN,D019698
6664548,ethnicity_disease,non-Hispanic Black,knee pain,ethnicity,disease,50.0,NaN,NaN,NaN,C0877149,NaN,D046788
6664549,ethnicity_disease,non-Hispanic White,knee pain,ethnicity,disease,50.0,NaN,NaN,NaN,C0877149,NaN,D046788

In [12]:
pkg

,head,relation,tail,weight,head_type,tail_type,head_cui,tail_cui,x_id,y_id
0,PHYHIP,gene_gene,KIF15,NaN,gene,gene,NaN,NaN,9796,56992
1,GPANK1,gene_gene,PNMA1,NaN,gene,gene,NaN,NaN,7918,9240
2,ZRSR2,gene_gene,TTC33,NaN,gene,gene,NaN,NaN,8233,23548
3,NRF1,gene_gene,MAN1B1,NaN,gene,gene,NaN,NaN,4899,11253
4,PI4KA,gene_gene,RGS20,NaN,gene,gene,NaN,NaN,5297,8601
...,...,...,...,...,...,...,...,...,...,...
5847647,digestive tract junction,anatomy_anatomy,intestinal junction,NaN,anatomy,anatomy,NaN,NaN,1100000,8410024
5847648,zone of organ,anatomy_anatomy,transition zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410025
5847649,zone of organ,anatomy_anatomy,peripheral zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410026
5847650,zone of organ,anatomy_anatomy,central zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410027
5847651,vein,anatomy_anatomy,lymph node vein,NaN,anatomy,anatomy,NaN,NaN,1638,8410033

In [21]:
t1 = kg[['head', 'x_id', 'head_type']]
t2 = kg[['tail', 'y_id', 'tail_type']]

In [ ]:
t1 = pkg[['head', 'x_id', 'head_type']]
t2 = pkg[['tail', 'y_id', 'tail_type']]

In [22]:
t2.columns = ['head', 'x_id', 'head_type']
# concat pkg1 and pkg2
testid = pd.concat([t1, t2], axis=0)
testid = testid.drop_duplicates(subset=('head', 'head_type'))
testid['x_index'] = testid.groupby('head_type').cumcount().astype(int)
testid.reset_index(drop=True, inplace=True)
testid

                                             head     x_id head_type  x_index
0                       Access to Health Services      NaN   subtype        0
1                          Access to Primary Care      NaN   subtype        1
2                                 Health Literacy      NaN   subtype        2
3                                Health Insurance      NaN   subtype        3
4       Early Childhood Development and Education      NaN   subtype        4
...                                           ...      ...       ...      ...
139321                                  estradiol  D004958      drug     8677
139322                           reduced cortical  D001523   disease    19671
139323                            premature aging  D019588   disease    19672
139324                   hepatitis C co-infection  D060085   disease    19673
139325                                  knee pain  D046788   disease    19674

[139326 rows x 4 columns]

In [23]:
# get unique 'head_type'
h = testid['head_type'].unique()
len(h),h

(22,
 array(['subtype', 'SDoH', 'gene', 'drug', 'effect/phenotype', 'disease',
        'biological_process', 'molecular_function', 'cellular_component',
        'exposure', 'pathway', 'anatomy', 'age', 'ethnicity', 'religion',
        'marital_status', 'gender', 'insurance', 'species', 'variant',
        'cellline', 'type'], dtype=object))

In [24]:
id_type = testid['head_type'].unique() 
dfs_by_type = {x_type: df_sub for x_type, df_sub in testid.groupby('head_type')}

for i in range(len(id_type)):
    subdf = dfs_by_type.get(id_type[i])
    subdf = subdf[['x_index']]
    subdf.columns = ['node_id']
    path = r'C:\data\RA\shenlab\SDoH&KG\extension\data\kg\nodes_'+str(i)+ '.csv'
    subdf.to_csv(path, index=False)

In [25]:
testdf = kg.merge(testid[['head', 'head_type', 'x_index']], how='left', left_on=['head', 'head_type'], right_on=['head', 'head_type'])
#testdf = pkg.merge(testid[['head', 'head_type', 'x_index']], how='left', left_on=['head', 'head_type'], right_on=['head', 'head_type'])
# testdf = testdf.drop(columns=['x_index_x'])
# testdf.rename(columns={'x_index_y': 'x_index'}, inplace=True)

# # Merge to replace y_index
testdf = testdf.merge(testid[['head', 'head_type', 'x_index']], how='left', left_on=['tail', 'tail_type'], right_on=['head', 'head_type'])
testdf = testdf.drop(columns=['head_y', 'head_type_y'])
testdf.rename(columns={'x_index_y': 'y_index'}, inplace=True)
testdf.rename(columns={'x_index_x': 'x_index'}, inplace=True)
testdf.rename(columns={'head_x': 'head'}, inplace=True)
testdf.rename(columns={'head_type_x': 'head_type'}, inplace=True)

testdf

,relation,head,tail,head_type,tail_type,weight,head_id,tail_id,head_cui,tail_cui,x_id,y_id,x_index,y_index
0,subordinate1,Access to Health Services,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,subordinate1,Access to Primary Care,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,subordinate1,Health Literacy,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0
3,subordinate1,Health Insurance,Healthcare access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
4,subordinate1,Early Childhood Development and Education,Education access and quality,subtype,type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6664545,ethnicity_disease,African American,premature aging,ethnicity,disease,50.0,NaN,NaN,NaN,C0231341,NaN,D019588,23,19672
6664546,ethnicity_disease,Black,hepatitis C co-infection,ethnicity,disease,100.0,NaN,NaN,NaN,C0275524,NaN,D060085,22,19673
6664547,ethnicity_disease,Black,hepatitis C,ethnicity,disease,50.0,NaN,NaN,NaN,C0524910,NaN,D019698,22,18899
6664548,ethnicity_disease,non-Hispanic Black,knee pain,ethnicity,disease,50.0,NaN,NaN,NaN,C0877149,NaN,D046788,43,19674
6664549,ethnicity_disease,non-Hispanic White,knee pain,ethnicity,disease,50.0,NaN,NaN,NaN,C0877149,NaN,D046788,30,19674

In [26]:
t3 = testdf[['x_index','head_type','relation', 'y_index','tail_type']] 
t3 = t3.dropna(subset=['x_index', 'y_index'])
t3['x_index'] = t3['x_index'].astype(int)
t3['y_index'] = t3['y_index'].astype(int)
t3

         x_index  head_type           relation  y_index tail_type
0              0    subtype       subordinate1        0      type
1              1    subtype       subordinate1        0      type
2              2    subtype       subordinate1        0      type
3              3    subtype       subordinate1        0      type
4              4    subtype       subordinate1        1      type
...          ...        ...                ...      ...       ...
6664545       23  ethnicity  ethnicity_disease    19672   disease
6664546       22  ethnicity  ethnicity_disease    19673   disease
6664547       22  ethnicity  ethnicity_disease    18899   disease
6664548       43  ethnicity  ethnicity_disease    19674   disease
6664549       30  ethnicity  ethnicity_disease    19674   disease

[6664550 rows x 5 columns]

In [27]:
mapping_dict = {value: index for index, value in enumerate(id_type)}
mapping_dict

{'subtype': 0,
 'SDoH': 1,
 'gene': 2,
 'drug': 3,
 'effect/phenotype': 4,
 'disease': 5,
 'biological_process': 6,
 'molecular_function': 7,
 'cellular_component': 8,
 'exposure': 9,
 'pathway': 10,
 'anatomy': 11,
 'age': 12,
 'ethnicity': 13,
 'religion': 14,
 'marital_status': 15,
 'gender': 16,
 'insurance': 17,
 'species': 18,
 'variant': 19,
 'cellline': 20,
 'type': 21}

In [28]:
grouped = t3.groupby(['head_type', 'tail_type'])

# Create a dictionary to store the sub-DataFrames
subdfs = {group: subdf for group, subdf in grouped}
for key, subdf in subdfs.items():
    print(f"Sub-DataFrame for head_type = {key[0]} and tail_type = {key[1]}:")
    print(subdf)
    print("\n")
    df_out = subdf[['x_index', 'y_index']]
    # rename the columns
    df_out.columns = ['src_id', 'dst_id']
    # save the sub-DataFrame to a CSV file
    df_out.to_csv(f'C:/data/RA/shenlab/SDoH&KG/extension/data/kg/edges_{mapping_dict[key[0]]}_{mapping_dict[key[1]]}.csv', index=False)
    #df_out.to_csv(f'C:/data/RA/shenlab/SDoH&KG/extension/data/pkg/edges_{mapping_dict[key[0]]}_{mapping_dict[key[1]]}.csv', index=False)

Sub-DataFrame for head_type = SDoH and tail_type = subtype:
      x_index head_type      relation  y_index tail_type
27          0      SDoH  subordinate0        4   subtype
28          1      SDoH  subordinate0       22   subtype
29          2      SDoH  subordinate0       14   subtype
30          3      SDoH  subordinate0       19   subtype
31          4      SDoH  subordinate0       22   subtype
...       ...       ...           ...      ...       ...
6544     6483      SDoH  subordinate0       23   subtype
6545     6484      SDoH  subordinate0       11   subtype
6546     6485      SDoH  subordinate0       16   subtype
6547     6486      SDoH  subordinate0       16   subtype
6548     6487      SDoH  subordinate0       20   subtype

[6522 rows x 5 columns]


Sub-DataFrame for head_type = age and tail_type = disease:
         x_index head_type     relation  y_index tail_type
6658224        0       age  age_disease    18938   disease
6658225        0       age  age_disease    18939   disease
6658237        1       age  age_disease    18942   disease
6658264        6       age  age_disease    18952   disease
6658265        6       age  age_disease    18944   disease
...          ...       ...          ...      ...       ...
6658416       12       age  age_disease    18380   disease
6658417       12       age  age_disease    18385   disease
6658418       12       age  age_disease    18394   disease
6658419       12       age  age_disease    18396   disease
6658420       12       age  age_disease    18400   disease

[69 rows x 5 columns]


Sub-DataFrame for head_type = age and tail_type = drug:
         x_index head_type  relation  y_index tail_type
6658226        0       age  age_drug      142      drug
6658227        0       age  age_drug     8059      drug
6658228        0       age  age_drug     8120      drug
6658229        0       age  age_drug      205      drug
6658230        0       age  age_drug      498      drug
...          ...       ...       ...      ...       ...
6658421       12       age  age_drug     8543      drug
6658422       12       age  age_drug      693      drug
6658423       12       age  age_drug      204      drug
6658424       12       age  age_drug     8576      drug
6658425       12       age  age_drug     8577      drug

[133 rows x 5 columns]


Sub-DataFrame for head_type = anatomy and tail_type = anatomy:
         x_index head_type         relation  y_index tail_type
3839773        0   anatomy  anatomy_anatomy     4000   anatomy
3839774        1   anatomy  anatomy_anatomy      112   anatomy
3839775        2   anatomy  anatomy_anatomy     6675   anatomy
3839776        3   anatomy  anatomy_anatomy       17   anatomy
3839777        4   anatomy  anatomy_anatomy    10089   anatomy
...          ...       ...              ...      ...       ...
5854196    10912   anatomy  anatomy_anatomy    14027   anatomy
5854197    10111   anatomy  anatomy_anatomy    14028   anatomy
5854198    10111   anatomy  anatomy_anatomy    14029   anatomy
5854199    10111   anatomy  anatomy_anatomy    14030   anatomy
5854200      970   anatomy  anatomy_anatomy    14031   anatomy

[28064 rows x 5 columns]


Sub-DataFrame for head_type = biological_process and tail_type = biological_process:
         x_index           head_type                               relation  \
3418443        0  biological_process  biological_process_biological_process
3418444        1  biological_process  biological_process_biological_process
3418445        2  biological_process  biological_process_biological_process
3418446        0  biological_process  biological_process_biological_process
3418447        1  biological_process  biological_process_biological_process
...          ...                 ...                                    ...
5817225    28638  biological_process  biological_process_biological_process
5817226    28639  biological_process  biological_process_biological_process
5817227    13406  biological_process  biological_process_biological_process
5817228    28640  biological_process  biological_process_biological_process
5817229    28641  biological_process  biological_process_biological_process

         y_index           tail_type
3418443     8490  biological_process
3418444     8490  biological_process
3418445     8490  biological_process
3418446     8486  biological_process
3418447     8486  biological_process
...          ...                 ...
5817225    13614  biological_process
5817226    13615  biological_process
5817227    13616  biological_process
5817228    13617  biological_process
5817229    13618  biological_process

[105772 rows x 5 columns]


Sub-DataFrame for head_type = cellline and tail_type = SDoH:
         x_index head_type       relation  y_index tail_type
6662233        0  cellline  cellline_sdoh     6187      SDoH


Sub-DataFrame for head_type = cellular_component and tail_type = cellular_component:
         x_index           head_type                               relation  \
3484903        0  cellular_component  cellular_component_cellular_component
3484904        0  cellular_component  cellular_component_cellular_component
3484905        0  cellular_component  cellular_component_cellular_component
3484906        0  cellular_component  cellular_component_cellular_component
3484907        0  cellular_component  cellular_component_cellular_component
...          ...                 ...                                    ...
5835644     4172  cellular_component  cellular_component_cellular_component
5835645     4173  cellular_component  cellular_component_cellular_component
5835646     4174  cellular_component  cellular_component_cellular_component
5835647      213  cellular_component  cellular_component_cellular_component
5835648     4175  cellular_component  cellular_component_cellular_component

         y_index           tail_type
3484903      963  cellular_component
3484904      964  cellular_component
3484905      965  cellular_component
3484906      966  cellular_component
3484907      967  cellular_component
...          ...                 ...
5835644      958  cellular_component
5835645      959  cellular_component
5835646      960  cellular_component
5835647      961  cellular_component
5835648      962  cellular_component

[9690 rows x 5 columns]


Sub-DataFrame for head_type = disease and tail_type = SDoH:
         x_index head_type      relation  y_index tail_type
6234315    17045   disease  disease_sdoh     5253      SDoH
6234316    17045   disease  disease_sdoh     2338      SDoH
6234317    17045   disease  disease_sdoh     3434      SDoH
6234318    17045   disease  disease_sdoh     1096      SDoH
6234319    17045   disease  disease_sdoh     1809      SDoH
...          ...       ...           ...      ...       ...
6662994     6799   disease  disease_sdoh     6487      SDoH
6662995    18902   disease  disease_sdoh     6487      SDoH
6662996    18402   disease  disease_sdoh     5708      SDoH
6662997    18426   disease  disease_sdoh     5923      SDoH
6662998    18403   disease  disease_sdoh     3933      SDoH

[267810 rows x 5 columns]


Sub-DataFrame for head_type = disease and tail_type = disease:
         x_index head_type         relation  y_index tail_type
3321321     6558   disease  disease_disease     9796   disease
3321322     6559   disease  disease_disease     9265   disease
3321323     6560   disease  disease_disease     9559   disease
3321324     6561   disease  disease_disease     9559   disease
3321325     6562   disease  disease_disease     9559   disease
...          ...       ...              ...      ...       ...
5764339     8824   disease  disease_disease     3567   disease
5764340     7641   disease  disease_disease     3567   disease
5764341     8473   disease  disease_disease     6551   disease
5764342     8238   disease  disease_disease     6551   disease
5764343    11117   disease  disease_disease     6419   disease

[64384 rows x 5 columns]


Sub-DataFrame for head_type = disease and tail_type = effect/phenotype:
         x_index head_type                  relation  y_index  \
3090169        0   disease  disease_effect/phenotype      187
3090170        0   disease  disease_effect/phenotype      558
3090171        1   disease  disease_effect/phenotype      752
3090172        1   disease  disease_effect/phenotype      141
3090173        1   disease  disease_effect/phenotype      263
...          ...       ...                       ...      ...
5732296     6555   disease  disease_effect/phenotype     3101
5732297     5049   disease  disease_effect/phenotype      457
5732298     5049   disease  disease_effect/phenotype     4170
5732299     6403   disease  disease_effect/phenotype       87
5732300     9230   disease  disease_effect/phenotype     2471

                tail_type
3090169  effect/phenotype
3090170  effect/phenotype
3090171  effect/phenotype
3090172  effect/phenotype
3090173  effect/phenotype
...                   ...
5732296  effect/phenotype
5732297  effect/phenotype
5732298  effect/phenotype
5732299  effect/phenotype
5732300  effect/phenotype

[151338 rows x 5 columns]


Sub-DataFrame for head_type = drug and tail_type = SDoH:
         x_index head_type   relation  y_index tail_type
5854201     7957      drug  drug_sdoh     3273      SDoH
5854202     7957      drug  drug_sdoh      699      SDoH
5854203     7957      drug  drug_sdoh     2020      SDoH
5854204     7957      drug  drug_sdoh      317      SDoH
5854205     7957      drug  drug_sdoh     1835      SDoH
...          ...       ...        ...      ...       ...
6662952     8670      drug  drug_sdoh     6466      SDoH
6662973     8608      drug  drug_sdoh     6346      SDoH
6662976     8671      drug  drug_sdoh     6233      SDoH
6662977     8672      drug  drug_sdoh     6233      SDoH
6662982     8608      drug  drug_sdoh     6477      SDoH

[377840 rows x 5 columns]


Sub-DataFrame for head_type = drug and tail_type = disease:
         x_index head_type      relation  y_index tail_type
353092      1181      drug  drug_disease     6419   disease
353093      1181      drug  drug_disease     7165   disease
353094      2675      drug  drug_disease     6419   disease
353095      2675      drug  drug_disease     7165   disease
353096       471      drug  drug_disease     6419   disease
...          ...       ...           ...      ...       ...
6658219     8578      drug  drug_disease    18368   disease
6658220     8578      drug  drug_disease    18374   disease
6658221     8578      drug  drug_disease    18394   disease
6658222     8578      drug  drug_disease    18396   disease
6658223     8578      drug  drug_disease    18397   disease

[202932 rows x 5 columns]


Sub-DataFrame for head_type = drug and tail_type = drug:
         x_index head_type   relation  y_index tail_type
395475      2074      drug  drug_drug     1007      drug
395476      3571      drug  drug_drug     1007      drug
395477       758      drug  drug_drug     1007      drug
395478      1265      drug  drug_drug     1007      drug
395479      2577      drug  drug_drug     1007      drug
...          ...       ...        ...      ...       ...
3068098     6935      drug  drug_drug     7807      drug
3068099     1730      drug  drug_drug     7931      drug
3068100     1756      drug  drug_drug     6235      drug
3068101     1734      drug  drug_drug     7945      drug
3068102      486      drug  drug_drug     3738      drug

[2672628 rows x 5 columns]


Sub-DataFrame for head_type = drug and tail_type = effect/phenotype:
         x_index head_type               relation  y_index         tail_type
3353662     2310      drug  drug_effect/phenotype     1041  effect/phenotype
3353663     2310      drug  drug_effect/phenotype     6488  effect/phenotype
3353664     2310      drug  drug_effect/phenotype      330  effect/phenotype
3353665     2310      drug  drug_effect/phenotype      714  effect/phenotype
3353666     2310      drug  drug_effect/phenotype     1352  effect/phenotype
...          ...       ...                    ...      ...               ...
3418438     1276      drug  drug_effect/phenotype     3118  effect/phenotype
3418439     1276      drug  drug_effect/phenotype     2172  effect/phenotype
3418440     1276      drug  drug_effect/phenotype     1717  effect/phenotype
3418441     1276      drug  drug_effect/phenotype     5429  effect/phenotype
3418442     1276      drug  drug_effect/phenotype     1151  effect/phenotype

[64781 rows x 5 columns]


Sub-DataFrame for head_type = drug and tail_type = gene:
        x_index head_type   relation  y_index tail_type
327624        0      drug  drug_gene     7183      gene
327625        0      drug  drug_gene     8256      gene
327626        1      drug  drug_gene     4107      gene
327627        2      drug  drug_gene     1424      gene
327628        3      drug  drug_gene     1424      gene
...         ...       ...        ...      ...       ...
353087      479      drug  drug_gene     6069      gene
353088      478      drug  drug_gene    12188      gene
353089      479      drug  drug_gene    12188      gene
353090      700      drug  drug_gene    10452      gene
353091      700      drug  drug_gene     4776      gene

[25468 rows x 5 columns]


Sub-DataFrame for head_type = effect/phenotype and tail_type = effect/phenotype:
         x_index         head_type                           relation  \
3071433        0  effect/phenotype  effect/phenotype_effect/phenotype
3071434        1  effect/phenotype  effect/phenotype_effect/phenotype
3071435        2  effect/phenotype  effect/phenotype_effect/phenotype
3071436        3  effect/phenotype  effect/phenotype_effect/phenotype
3071437        3  effect/phenotype  effect/phenotype_effect/phenotype
...          ...               ...                                ...
5731699     1952  effect/phenotype  effect/phenotype_effect/phenotype
5731700    14883  effect/phenotype  effect/phenotype_effect/phenotype
5731701    14883  effect/phenotype  effect/phenotype_effect/phenotype
5731702    14884  effect/phenotype  effect/phenotype_effect/phenotype
5731703    14884  effect/phenotype  effect/phenotype_effect/phenotype

         y_index         tail_type
3071433       50  effect/phenotype
3071434     5041  effect/phenotype
3071435        3  effect/phenotype
3071436      642  effect/phenotype
3071437     4063  effect/phenotype
...          ...               ...
5731699       81  effect/phenotype
5731700      106  effect/phenotype
5731701       81  effect/phenotype
5731702      471  effect/phenotype
5731703       81  effect/phenotype

[37472 rows x 5 columns]


Sub-DataFrame for head_type = ethnicity and tail_type = disease:
         x_index  head_type           relation  y_index tail_type
6658436        1  ethnicity  ethnicity_disease    17172   disease
6658437        1  ethnicity  ethnicity_disease    17224   disease
6658438        1  ethnicity  ethnicity_disease    17259   disease
6658439        1  ethnicity  ethnicity_disease    18938   disease
6658440        1  ethnicity  ethnicity_disease    18939   disease
...          ...        ...                ...      ...       ...
6664545       23  ethnicity  ethnicity_disease    19672   disease
6664546       22  ethnicity  ethnicity_disease    19673   disease
6664547       22  ethnicity  ethnicity_disease    18899   disease
6664548       43  ethnicity  ethnicity_disease    19674   disease
6664549       30  ethnicity  ethnicity_disease    19674   disease

[686 rows x 5 columns]


Sub-DataFrame for head_type = ethnicity and tail_type = drug:
         x_index  head_type        relation  y_index tail_type
6658426        0  ethnicity  ethnicity_drug      142      drug
6658427        0  ethnicity  ethnicity_drug      498      drug
6658428        0  ethnicity  ethnicity_drug     8246      drug
6658429        0  ethnicity  ethnicity_drug     8252      drug
6658430        0  ethnicity  ethnicity_drug     8360      drug
...          ...        ...             ...      ...       ...
6663886        7  ethnicity  ethnicity_drug     8577      drug
6663887        7  ethnicity  ethnicity_drug     8578      drug
6664474       18  ethnicity  ethnicity_drug     8633      drug
6664507       14  ethnicity  ethnicity_drug     8608      drug
6664518       18  ethnicity  ethnicity_drug     8677      drug

[965 rows x 5 columns]


Sub-DataFrame for head_type = ethnicity and tail_type = gene:
         x_index  head_type        relation  y_index tail_type
6664469       21  ethnicity  ethnicity_gene      939      gene
6664501       12  ethnicity  ethnicity_gene     3879      gene
6664508       18  ethnicity  ethnicity_gene    14283      gene
6664532       22  ethnicity  ethnicity_gene     2915      gene


Sub-DataFrame for head_type = ethnicity and tail_type = species:
         x_index  head_type           relation  y_index tail_type
6664458       13  ethnicity  ethnicity_species       17   species
6664470       20  ethnicity  ethnicity_species        3   species
6664471       12  ethnicity  ethnicity_species       17   species
6664472       22  ethnicity  ethnicity_species        3   species
6664490       18  ethnicity  ethnicity_species        5   species
6664535       14  ethnicity  ethnicity_species       15   species
6664536       23  ethnicity  ethnicity_species        8   species
6664541       41  ethnicity  ethnicity_species       17   species


Sub-DataFrame for head_type = exposure and tail_type = biological_process:
         x_index head_type                     relation  y_index  \
3793134      579  exposure  exposure_biological_process     2488
3793135      580  exposure  exposure_biological_process     2488
3793136      152  exposure  exposure_biological_process     2488
3793137      581  exposure  exposure_biological_process     2488
3793138      582  exposure  exposure_biological_process     2488
...          ...       ...                          ...      ...
3794754      493  exposure  exposure_biological_process    14893
3794755      144  exposure  exposure_biological_process    20494
3794756      500  exposure  exposure_biological_process     8954
3794757      500  exposure  exposure_biological_process     8037
3794758      657  exposure  exposure_biological_process     7864

                  tail_type
3793134  biological_process
3793135  biological_process
3793136  biological_process
3793137  biological_process
3793138  biological_process
...                     ...
3794754  biological_process
3794755  biological_process
3794756  biological_process
3794757  biological_process
3794758  biological_process

[1625 rows x 5 columns]


Sub-DataFrame for head_type = exposure and tail_type = cellular_component:
         x_index head_type                     relation  y_index  \
3794804       25  exposure  exposure_cellular_component     2775
3794805      126  exposure  exposure_cellular_component     2775
3794806       26  exposure  exposure_cellular_component      697
3794807      108  exposure  exposure_cellular_component      697
3794808      362  exposure  exposure_cellular_component     2773
3794809      113  exposure  exposure_cellular_component     2773
3794810      423  exposure  exposure_cellular_component     2773
3794811      116  exposure  exposure_cellular_component     2773
3794812      117  exposure  exposure_cellular_component     2773
3794813      108  exposure  exposure_cellular_component      167

                  tail_type
3794804  cellular_component
3794805  cellular_component
3794806  cellular_component
3794807  cellular_component
3794808  cellular_component
3794809  cellular_component
3794810  cellular_component
3794811  cellular_component
3794812  cellular_component
3794813  cellular_component


Sub-DataFrame for head_type = exposure and tail_type = disease:
         x_index head_type          relation  y_index tail_type
3788696      150  exposure  exposure_disease       90   disease
3788697      151  exposure  exposure_disease     6514   disease

In [12]:
testid

                                             head     x_id head_type  x_index
0                       Access to Health Services      NaN   subtype        0
1                          Access to Primary Care      NaN   subtype        1
2                                 Health Literacy      NaN   subtype        2
3                                Health Insurance      NaN   subtype        3
4       Early Childhood Development and Education      NaN   subtype        4
...                                           ...      ...       ...      ...
138775                                  estradiol  D004958      drug     8629
138776                           reduced cortical  D001523   disease    19172
138777                            premature aging  D019588   disease    19173
138778                   hepatitis C co-infection  D060085   disease    19174
138779                                  knee pain  D046788   disease    19175

[138780 rows x 4 columns]

In [22]:
testid

                           head       x_id head_type  x_index
0                        PHYHIP       9796      gene        0
1                        GPANK1       7918      gene        1
2                         ZRSR2       8233      gene        2
3                          NRF1       4899      gene        3
4                         PI4KA       5297      gene        4
...                         ...        ...       ...      ...
129352              SLC44A3-AS1  101928079      gene    27668
129353                 ZNRD2-DT     254100      gene    27669
129354                 MIR548F3  100302159      gene    27670
129355  multi-cellular organism        468   anatomy    14033
129356             female gonad        992   anatomy    14034

[129357 rows x 4 columns]

In [19]:
testid.to_csv('testid_pkg.csv', index=False)

In [30]:
# save testid to csv
testid.to_csv('testid_kg.csv', index=False)

:

In [12]:
import pickle
with open('C:\data\RA\shenlab\SDoH&KG\extension\potential_3ca8_gene_SDoH.pkl', 'rb') as f:
    data = pickle.load(f)

data

(array([15721, 13171, 15721, ..., 23447, 18189, 10968], dtype=int64),
 array([5572, 5894, 5510, ...,  758, 6015, 5403], dtype=int64))

In [13]:
# get the dataframe where head_type is gene
gene_id = testid[testid['head_type']=='gene']
SDoh_id = testid[testid['head_type']=='SDoH']

In [19]:
src_name = [gene_id['head'].tolist()[i] for i in data[0]]
dst_name = [SDoh_id['head'].tolist()[i] for i in data[1]]

In [22]:
# save the potential edges to a csv file
potential_edges = pd.DataFrame({'head': src_name, 'tail': dst_name})
potential_edges.to_csv('C:\data\RA\shenlab\SDoH&KG\extension\potential_edges_gene_sdoh.csv', index=False)

In [32]:
l = ['clinical practice', 'care-partner outcomes', 'neurologists', 'memory clinic',
        'primary care', 'memory clinical practice', 'diagnostic meeting', 'screening', 'memory clinic setting',
        'clinic', 'therapy','brain MRI', 'clinical settings']

In [33]:
# remove row if potential_edges['tail'] is in l
potential_edges1 = potential_edges[~potential_edges['tail'].isin(l)]
potential_edges1

          head                   tail
2         TPK1         residence type
4        ISCA2                 degree
5        ISCA2           relationship
9        ISCA2            vaccination
10       DACT3   self-identified race
...        ...                    ...
17988  NPIPB13            environment
17989    TRPC4              community
17990   TRIM33  environmental factors
17993     RALY         residence type
17995   OR10G2                 wealth

[13032 rows x 2 columns]

In [36]:
potential_edges1.to_csv('C:\data\RA\shenlab\SDoH&KG\extension\potential_edges_gene_sdoh.csv', index=False)

In [41]:
unique_src = potential_edges1['head'].unique()   
unique_dst = potential_edges1['tail'].unique()
len(unique_src), len(unique_dst)

(758, 34)

In [42]:
unique_dst

array(['residence type', 'degree', 'relationship', 'vaccination',
       'self-identified race', 'expensive', 'examination',
       'nonhouse residence', 'deleterious exposures', 'learning',
       'educational attainment', 'educational levels', 'wealth',
       'utilization charges', 'familial', 'Empathy',
       'Environmental factors', 'pesticide-induced', "family member's",
       'families', 'community settings', 'development',
       'environmental factors', 'region', 'collaboration model',
       'cognitive abilities', 'occupation', 'community', 'grade',
       'family', 'environments', 'educationalfactors', 'education',
       'environment'], dtype=object)

In [43]:
# group the potential edges by tail, put the head to list
grouped = potential_edges1.groupby('tail')
grouped = grouped['head'].apply(list)
grouped

tail
Empathy                   [DACT3, COQ8B, RAPGEF4-AS1, NPIPB2, ARNTL2-AS1...
Environmental factors     [STK39, COQ8B, GBP6, RPL7AP64, MIR648, RAPGEF4...
cognitive abilities       [TPK1, COQ8B, ATPSCKMT, CEP112, L3MBTL4-AS1, D...
collaboration model       [TPK1, ATPSCKMT, CDH26, SYT10, DACT3, FAM117B,...
community                 [RNF17, ACOT9, MUC13, ARMCX2, OR10G2, FBXL7, N...
community settings        [MIR5189, TPK1, SNORD1B, DACT3, LRRC45, CDCA2,...
degree                    [ISCA2, ARMCX2, OR10G2, ADAP1, MAPK8, FEM1AP1,...
deleterious exposures     [COQ8B, DACT3, ENO4, GET1, ABCC1, RPL7AP64, H2...
development               [TPK1, SNORD1B, DACT3, GBP6, ISCA2, COQ8B, SYT...
education                 [SNORD1B, DACT3, TPK1, ISCA2, C22orf39, COQ8B,...
educational attainment    [ENO4, COQ8B, DACT3, GRID1-AS1, ST8SIA5, GBP6,...
educational levels        [MIR648, STK39, SCA30, GBP6, CEP112, COQ8B, GB...
educationalfactors        [SLC7A4, STK39, SCA30, COQ8B, CEP112, GBP6, KL...
environment               [ARMCX2, MIR3945HG, TPK1, MUC13, CCL3, LRATD1,...
environmental factors     [TPK1, SNORD1B, DACT3, LRRC45, NRSN2, SYT10, I...
environments              [SNORD1B, DACT3, FAM117B, TPK1, LRRC45, GRID1-...
examination               [CEP112, MIR648, SCA30, STK39, COQ8B, GBP6, RP...
expensive                 [LRRC37A2, RPS11P7, COQ8B, KRT17P6, TPK1, POU5...
familial                  [DACT3, TPK1, TRPC4, STK39, MIR648, GBP6, CEP1...
families                  [GRIA4, TPK1, ODAD4, MIR942, ACKR1, MRPS15, LR...
family                    [MUC13, ACOT9, RNF17, ARMCX2, TPK1, OR10G2, FB...
family member's           [GBX1, CEP112, SLC7A4, STK39, SCA30, COQ8B, KL...
grade                     [RNF17, ARMCX2, OR10G2, FBXL7, MAPK8, FEM1AP1,...
learning                  [ENO4, DACT3, COQ8B, ARNTL2-AS1, GRID1-AS1, GB...
nonhouse residence        [CEP112, MIR648, STK39, SCA30, COQ8B, GBP6, GB...
occupation                [TPK1, STK39, CDCA2, L3MBTL4-AS1, ST8SIA5, DAC...
pesticide-induced         [COQ8B, ARHGEF11, RAPGEF4-AS1, GBP6, RPL7AP64,...
region                    [TPK1, SNORD1B, GBP6, DACT3, LRRC45, NRSN2, SY...
relationship              [ISCA2, ARMCX2, MRPS6, OR10G2, NOP9, CCDC172, ...
residence type            [TPK1, CDH26, STK39, ST8SIA5, DACT3, L3MBTL4-A...
self-identified race      [DACT3, RPL7AP64, COQ8B, TPK1, NPIPB2, GBP6, C...
utilization charges       [GBP6, DACT3, ARHGEF11, RAPGEF4-AS1, TPK1, RPL...
vaccination               [ISCA2, BEX2, RNF17, ARHGEF10L, GPRIN3, MRPS33...
wealth                    [DACT3, COQ8B, TPK1, ABCC1, IL36B, STK39, GET1...
Name: head, dtype: object

In [44]:
# save the grouped potential edges to a csv file
grouped.to_csv('C:\data\RA\shenlab\SDoH&KG\extension\potential_edges_gene_sdoh_grouped.csv', index=True)

In [45]:
with open('C:\data\RA\shenlab\SDoH&KG\extension\potential_a0d8_gene_gene.pkl', 'rb') as f:
    data1 = pickle.load(f)

data1

([8993,
  16964,
  8993,
  8993,
  3,
  3,
  3,
  3,
  7,
  7,
  7,
  7,
  7,
  6945,
  0,
  11864,
  12,
  12,
  12,
  13825,
  8057,
  8993,
  5593,
  4172,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  24,
  24,
  24,
  24,
  24,
  24,
  24,
  24,
  24,
  9,
  9,
  9,
  9,
  9,
  9,
  721,
  0,
  0,
  0,
  0,
  0,
  24,
  24,
  24,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  9,
  9,
  9,
  8993,
  8993,
  4335,
  24,
  24,
  9,
  9,
  9,
  9,
  9,
  9,
  9,
  9,
  16964,
  15030,
  15030,
  15030,
  22,
  9698,
  4335,
  9,
  9,
  20,
  15030,
  10920,
  8373,
  10920,
  11864,
  4172,
  6,
  6,
  6,
  6,
  9,
  24,
  4172,
  16964,
  1683,
  8477,
  6,
  6,
  6,
  6,
  6,
  6,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  20,
  24,
  15030,
  4172,
  14077,
  10920,
  1683,
  20,
  20,
  7899,
  7899,
  13825,
  18,
  18,
  18,
  18,
  20,
  18,
  18,
  18,
  18,
  13825,
  6,
  6,
  6,
  18,
  18,
  18,
  18,
  18,
  18,
  18,
  18,
  20,
  20,
  4172,
  16964,
  18,
  18,
  18,
  18,
  6,
  6,
  6,
  6,
  6,
  14931,
  4335,
  15,
  20,
  20,
  24,
  24,
  6,
  6,
  6,
  6,
  20,
  20,
  13825,
  15,
  15,
  15,
  20,
  20,
  18,
  18,
  18,
  18,
  20,
  20,
  20,
  20,
  7899,
  7899,
  6,
  8993,
  15974,
  3975,
  13825,
  16964,
  15,
  15,
  15,
  15,
  15,
  15,
  15,
  10122,
  15,
  10920,
  13825,
  16964,
  11864,
  15,
  15,
  15,
  15,
  15,
  13825,
  15,
  15,
  15,
  15,
  15,
  13,
  13,
  15974,
  15974,
  15974,
  15974,
  13825,
  6,
  13,
  4172,
  10920,
  13,
  13,
  13,
  13,
  13,
  14,
  14,
  14,
  13,
  13,
  13,
  13,
  13,
  15,
  15,
  13825,
  11864,
  13232,
  11035,
  10122,
  10122,
  16964,
  16964,
  10122,
  14889,
  14889,
  14889,
  14889,
  14,
  15974,
  3975,
  13825,
  13825,
  14889,
  14889,
  3975,
  8993,
  4,
  4,
  4,
  4,
  4,
  4,
  14931,
  30,
  14,
  21,
  5,
  13,
  13,
  13,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  14889,
  5,
  5,
  13,
  7899,
  977,
  6978,
  977,
  8993,
  14,
  14,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  13,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  13232,
  8993,
  7899,
  7899,
  15974,
  15974,
  8993,
  8993,
  977,
  13,
  13,
  13,
  4,
  4,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16,
  16964,
  13,
  13,
  5,
  5,
  5,
  5,
  14,
  14,
  14,
  16,
  14889,
  14889,
  16,
  16,
  16,
  16,
  16,
  21,
  5,
  5,
  14889,
  7899,
  2,
  15974,
  15974,
  14889,
  5,
  5,
  15030,
  4,
  4,
  14931,
  13232,
  5,
  977,
  977,
  13825,
  5,
  5,
  5,
  5,
  5,
  14889,
  14889,
  15974,
  15974,
  3975,
  13825,
  5293,
  4335,
  14,
  14,
  14,
  14931,
  14931,
  4335,
  14931,
  14889,
  21,
  21,
  21,
  14,
  22,
  22,
  14,
  14,
  21,
  21,
  21,
  21,
  21,
  21,
  21,
  13,
  17,
  17,
  17,
  17,
  17,
  13538,
  0,
  27688,
  14889,
  14889,
  14889,
  8993,
  8993,
  8993,
  10,
  10,
  721,
  14,
  14,
  4335,
  14889,
  14889,
  14889,
  14889,
  14,
  14,
  14,
  14,
  21,
  21,
  14,
  14,
  12450,
  12450,
  12450,
  16,
  10,
  10,
  10,
  10,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  27688,
  2,
  10,
  10,
  10,
  10,
  10,
  10,
  10,
  16,
  16,
  11,
  11,
  11,
  11,
  9153,
  7899,
  21,
  21,
  16,
  16,
  16,
  16,
  16,
  16,
  10,
  10,
  21,
  21,
  21,
  21,
  21,
  21,
  12453,
  12453,
  11,
  11388,
  11,
  11,
  11,
  11,
  17,
  17,
  17,
  2,
  2,
  2,
  12450,
  12450,
  17,
  17,
  17,
  17,
  17,
  17,
  17,
  17,
  10,
  10,
  10,
  10,
  17,
  17,
  17,
  17,
  11,
  11,
  11388,
  11,
  11,
  7899,
  4755,
  23,
  19,
  3,
  10,
  10,
  10,
  10,
  10,
  11,
  19,
  19,
  19,
  19,
  19,
  19,
  19,
  19,
  11,
  11,
  11,
  11,
  11,
  11,
  11,
  19,
  2,
  12453,
  12453,
  14079,
  5593,
  22,
  19,
  19,
  16557,
  14079,
  4755,
  4755,
  2,
  2,
  2,
  2,
  17,
  17,
  16557,
  16557,
  16557,
  16557,
  3975,
  13825,
  23,
  23,
  23,
  7899,
  13538,
  8993,
  15030,
  17,
  8,
  8,
  8,
  21,
  21,
  16,
  19522,
  19522,
  11,
  11,
  11,
  11,
  2,
  2,
  2,
  8,
  22,
  22,
  22,
  22,
  13115,
  13115,
  7899,
  7899,
  19,
  19,
  19,
  19,
  17,
  6328,
  22,
  22,
  8,
  8993,
  7,
  13825,
  13825,
  6978,
  8,
  8,
  19,
  19,
  19,
  19,
  19,
  16557,
  8,
  8,
  8,
  8,
  8,
  8,
  8,
  19,
  19,
  19,
  19522,
  19522,
  19522,
  19522,
  19522,
  19522,
  22,
  22,
  2,
  2,
  2,
  2,
  2,
  2,
  13825,
  13825,
  16557,
  12450,
  12450,
  3091,
  8,
  2,
  2,
  2,
  8,
  8,
  16655,
  16655,
  3091,
  7,
  16,
  19522,
  8,
  8,
  8,
  3975,
  16557,
  12450,
  19522,
  19522,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  23,
  8,
  8,
  8,
  8,
  7,
  7,
  7,
  23,
  13825,
  10471,
  4172,
  8993,
  8993,
  12450,
  10849,
  3091,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7899,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  14931,
  7,
  7,
  12450,
  12450,
  11864,
  1,
  1,
  1,
  23,
  23,
  23,
  3975,
  5593,
  7,
  7,
  7,
  1,
  1,
  1,
  1,
  1,
  13825,
  7,
  7,
  22,
  22,
  22,
  22,
  22,
  22,
  22,
  1,
  1,
  1,
  22,
  22,
  22,
  22,
  22,
  22,
  7899,
  16655,
  1,
  1,
  1,
  1,
  1,
  1,
  721,
  11864,
  11864,
  12,
  6328,
  7899,
  7899,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12,
  12450,
  8993,
  8993,
  8993,
  7899,
  7899,
  12,
  12,
  12,
  16655,
  8993,
  8993,
  2,
  2,
  16964,
  12450,
  14931,
  24,
  24,
  8993,
  5501,
  9,
  9,
  9,
  9,
  3,
  3,
  3,
  10920,
  24,
  24,
  24,
  24,
  3,
  3,
  10920,
  3,
  3,
  3,
  3,
  3,
  15030,
  3,
  3,
  3,
  3,
  3,
  1683,
  1484,
  3,
  3,
  3,
  3,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  6945,
  0,
  8231,
  14077,
  10705,
  5501,
  16964,
  10122,
  13538,
  16572,
  9050,
  4172,
  3438,
  16572,
  15030,
  5312,
  4172,
  1305,
  12453,
  977,
  1964,
  14077,
  1484,
  10920,
  4172,
  13242,
  7899,
  3333,
  8373,
  8993,
  10471,
  4172,
  8993,
  14931,
  4335,
  17,
  13825,
  15974,
  197,
  5293,
  15974,
  19522,
  3975,
  19522,
  4335,
  15030,
  4335,
  13538,
  721,
  10920,
  3333,
  1518,
  3438,
  14213,
  1305,
  12450,
  4335,
  4335,
  11,
  12450,
  4172,
  4172,
  30,
  12518,
  9139,
  9153,
  30,
  14931,
  4335,
  19522,
  19522,
  366,
  9139,
  19522,
  16964,
  6328,
  14077,
  14077,
  16964,
  14077,
  14213,
  550,
  7899,
  1964,
  16655,
  13825,
  6358,
  366,
  7899,
  3975,
  13825,
  4172,
  15030,
  4586,
  4172,
  6978,
  5312,
  3975,
  2944,
  12,
  7899,
  550,
  3894,
  16964,
  366,
  11864,
  16964,
  6358,
  14357,
  3762,
  16002,
  977,
  14889,
  10920,
  5293,
  15974,
  14357,
  6,
  12453,
  14357,
  3975,
  12518,
  8373,
  ...],
 [1964,
  2250,
  1674,
  1683,
  16,
  17,
  18,
  19,
  4,
  5,
  6,
  8,
  9,
  197,
  20,
  1734,
  22,
  23,
  24,
  4755,
  366,
  3438,
  4172,
  30,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  19,
  1,
  2,
  3,
  4,
  5,
  6,
  4335,
  22,
  23,
  9,
  10,
  19,
  16,
  17,
  18,
  20,
  24,
  18,
  17,
  11,
  15,
  13,
  14,
  22,
  23,
  24,
  1484,
  1305,
  1683,
  22,
  23,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  3563,
  3,
  4,
  6,
  977,
  4172,
  3975,
  13,
  12,
  12,
  2,
  4172,
  4172,
  3975,
  4881,
  3091,
  10,
  11,
  12,
  13,
  0,
  1,
  4755,
  3973,
  4335,
  4172,
  23,
  24,
  5,
  7,
  8,
  9,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  0,
  11,
  3975,
  16,
  3091,
  4172,
  0,
  1,
  30,
  721,
  366,
  17,
  19,
  20,
  21,
  17,
  13,
  14,
  15,
  16,
  30,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  10,
  11,
  4335,
  4105,
  22,
  23,
  24,
  4,
  18,
  19,
  20,
  21,
  22,
  16,
  4172,
  22,
  15,
  16,
  20,
  21,
  14,
  15,
  16,
  17,
  23,
  24,
  550,
  19,
  20,
  21,
  13,
  14,
  2,
  3,
  0,
  1,
  18,
  19,
  21,
  22,
  952,
  550,
  1,
  952,
  2,
  3091,
  1518,
  553,
  7,
  8,
  9,
  10,
  11,
  2,
  3,
  11,
  18,
  1484,
  1305,
  39,
  3973,
  4,
  5,
  6,
  23,
  24,
  721,
  12,
  13,
  14,
  16,
  17,
  23,
  24,
  3,
  4,
  6,
  7,
  3091,
  0,
  14,
  1683,
  721,
  18,
  19,
  20,
  21,
  22,
  0,
  1,
  2,
  8,
  9,
  10,
  11,
  12,
  0,
  1,
  1484,
  3563,
  3975,
  12,
  4,
  6,
  645,
  716,
  0,
  21,
  22,
  23,
  24,
  3,
  0,
  1484,
  2476,
  2494,
  19,
  20,
  4172,
  4755,
  14,
  15,
  16,
  17,
  18,
  19,
  22,
  4172,
  4,
  13,
  0,
  15,
  16,
  17,
  12,
  13,
  20,
  21,
  22,
  23,
  24,
  17,
  1,
  2,
  7,
  1683,
  16,
  4335,
  11,
  4445,
  16,
  17,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  6,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  4172,
  4488,
  1518,
  1484,
  22,
  8,
  2494,
  2476,
  0,
  3,
  4,
  5,
  0,
  1,
  17,
  18,
  19,
  11,
  12,
  13,
  14,
  15,
  4881,
  1,
  2,
  3,
  4,
  6,
  7,
  18,
  19,
  20,
  10,
  12,
  13,
  20,
  21,
  22,
  23,
  24,
  0,
  23,
  24,
  14,
  1964,
  0,
  11,
  12,
  11,
  20,
  21,
  22,
  2,
  3,
  4,
  4335,
  22,
  3,
  22,
  3333,
  15,
  16,
  17,
  18,
  19,
  8,
  10,
  17,
  19,
  1683,
  3438,
  4172,
  3091,
  12,
  13,
  15,
  0,
  2,
  721,
  3,
  7,
  8,
  9,
  10,
  9,
  20,
  21,
  10,
  11,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  0,
  20,
  21,
  22,
  23,
  24,
  8,
  977,
  8,
  4,
  5,
  6,
  4172,
  4335,
  4233,
  23,
  24,
  3975,
  7,
  8,
  4755,
  0,
  1,
  2,
  3,
  21,
  22,
  23,
  24,
  11,
  12,
  5,
  6,
  4755,
  4172,
  4335,
  9,
  17,
  18,
  19,
  20,
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  7,
  5,
  6,
  7,
  8,
  9,
  11,
  12,
  7,
  8,
  0,
  1,
  2,
  3,
  3975,
  2476,
  20,
  22,
  1,
  2,
  3,
  4,
  5,
  6,
  21,
  22,
  14,
  15,
  16,
  17,
  18,
  19,
  4335,
  4172,
  6,
  4335,
  7,
  8,
  9,
  10,
  16,
  18,
  19,
  8,
  9,
  10,
  3975,
  3894,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  13,
  14,
  15,
  16,
  4,
  5,
  6,
  7,
  19,
  20,
  4172,
  4,
  5,
  3091,
  4172,
  20,
  24,
  977,
  0,
  1,
  2,
  3,
  4,
  18,
  15,
  16,
  17,
  18,
  20,
  21,
  22,
  23,
  12,
  13,
  14,
  15,
  16,
  17,
  977,
  14,
  6,
  4755,
  3975,
  22,
  3975,
  23,
  8,
  9,
  12,
  6,
  3975,
  4335,
  1,
  3,
  4,
  5,
  0,
  1,
  11,
  22,
  0,
  4,
  721,
  1683,
  21,
  22,
  24,
  3204,
  2,
  3975,
  12,
  3,
  18,
  19,
  20,
  23,
  24,
  0,
  8,
  10,
  21,
  22,
  23,
  24,
  20,
  21,
  22,
  17,
  4,
  5,
  6,
  7,
  4335,
  4172,
  3333,
  3438,
  10,
  11,
  12,
  13,
  2,
  4172,
  2,
  3,
  16,
  3091,
  15,
  3975,
  3894,
  4172,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  6,
  14,
  15,
  9,
  10,
  11,
  12,
  13,
  0,
  1,
  2,
  11,
  12,
  16,
  17,
  2,
  3,
  0,
  1,
  14,
  15,
  16,
  17,
  18,
  19,
  4335,
  4172,
  2,
  550,
  721,
  4335,
  0,
  11,
  12,
  13,
  6,
  7,
  4,
  6,
  4172,
  0,
  977,
  0,
  3,
  4,
  5,
  4335,
  8,
  30,
  4,
  6,
  16,
  17,
  18,
  19,
  0,
  1,
  2,
  3,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  21,
  22,
  23,
  24,
  3,
  1,
  2,
  7,
  4233,
  0,
  721,
  366,
  30,
  1484,
  12,
  3975,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  3975,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  13,
  14,
  1305,
  1683,
  553,
  0,
  2,
  3,
  4,
  5,
  6,
  4755,
  4335,
  10,
  11,
  12,
  20,
  21,
  22,
  23,
  24,
  1964,
  23,
  24,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  19,
  17,
  18,
  24,
  8,
  9,
  10,
  11,
  12,
  3894,
  16,
  11,
  12,
  13,
  14,
  15,
  16,
  4172,
  645,
  716,
  4,
  3975,
  4233,
  4172,
  13,
  8,
  9,
  10,
  11,
  1,
  2,
  3,
  3091,
  3333,
  3202,
  3204,
  4755,
  4335,
  5,
  6,
  7,
  11,
  721,
  550,
  23,
  24,
  1734,
  3333,
  8,
  14,
  15,
  1518,
  3975,
  7,
  8,
  10,
  11,
  8,
  9,
  10,
  4755,
  10,
  11,
  12,
  13,
  0,
  1,
  4335,
  2,
  4,
  5,
  6,
  7,
  8,
  11,
  12,
  13,
  14,
  15,
  3975,
  3975,
  21,
  22,
  23,
  24,
  16,
  21,
  8,
  7,
  2,
  6,
  5,
  4,
  3,
  346,
  1,
  4172,
  22,
  11,
  4172,
  2610,
  8,
  3,
  6,
  4172,
  3333,
  4172,
  11,
  7,
  3975,
  3438,
  4335,
  1484,
  17,
  4172,
  4,
  4172,
  550,
  1964,
  12,
  366,
  4335,
  3975,
  479,
  6,
  1484,
  888,
  12,
  1518,
  977,
  3204,
  10,
  4172,
  4335,
  1,
  19,
  1964,
  14,
  1305,
  19,
  366,
  11,
  1305,
  1683,
  4172,
  4335,
  4335,
  4172,
  721,
  1964,
  3333,
  3438,
  366,
  2476,
  197,
  550,
  4335,
  4172,
  3975,
  4172,
  3975,
  17,
  30,
  5,
  7,
  4335,
  4172,
  24,
  1258,
  4335,
  8,
  11,
  4081,
  12,
  3975,
  4172,
  3202,
  3975,
  8,
  4488,
  0,
  11,
  4488,
  30,
  952,
  366,
  0,
  3762,
  2494,
  0,
  4172,
  3894,
  149,
  977,
  2494,
  3975,
  3975,
  1308,
  4172,
  39,
  1789,
  6,
  8,
  4586,
  6,
  12,
  15,
  3894,
  3975,
  5,
  3,
  3114,
  721,
  2,
  550,
  4335,
  4335,
  ...])

In [14]:
gene_id

               head       x_id head_type  x_index
8818           APOE        348      gene        0
8841          QPCTL      54814      gene        1
8844            APP        351      gene        2
8851           MAPT       4137      gene        3
8897          BACE1      23821      gene        4
...             ...        ...       ...      ...
138664       PANDAR  101154753      gene    27670
138665     TP53COR1  102800311      gene    27671
138666  SLC44A3-AS1  101928079      gene    27672
138667     ZNRD2-DT     254100      gene    27673
138668     MIR548F3  100302159      gene    27674

[27675 rows x 4 columns]

In [46]:
src_name1 = [gene_id['head'].tolist()[i] for i in data1[0]]
dst_name1 = [gene_id['head'].tolist()[i] for i in data1[1]]
# save the potential edges to a csv file
potential_edges1 = pd.DataFrame({'head': src_name1, 'tail': dst_name1})
potential_edges1.to_csv('C:\data\RA\shenlab\SDoH&KG\extension\potential_edges_gene_gene.csv', index=False)

In [48]:
pkg = pd.read_csv('pkg(remove_back_edge).csv')
pkg

C:\Users\Tianqi\AppData\Local\Temp\ipykernel_7476\1760020873.py:1: DtypeWarning: Columns (6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pkg = pd.read_csv('pkg(remove_back_edge).csv')

,head,relation,tail,weight,head_type,tail_type,head_cui,tail_cui,x_id,y_id
0,PHYHIP,gene_gene,KIF15,NaN,gene,gene,NaN,NaN,9796,56992
1,GPANK1,gene_gene,PNMA1,NaN,gene,gene,NaN,NaN,7918,9240
2,ZRSR2,gene_gene,TTC33,NaN,gene,gene,NaN,NaN,8233,23548
3,NRF1,gene_gene,MAN1B1,NaN,gene,gene,NaN,NaN,4899,11253
4,PI4KA,gene_gene,RGS20,NaN,gene,gene,NaN,NaN,5297,8601
...,...,...,...,...,...,...,...,...,...,...
5848019,digestive tract junction,anatomy_anatomy,intestinal junction,NaN,anatomy,anatomy,NaN,NaN,1100000,8410024
5848020,zone of organ,anatomy_anatomy,transition zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410025
5848021,zone of organ,anatomy_anatomy,peripheral zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410026
5848022,zone of organ,anatomy_anatomy,central zone of prostate,NaN,anatomy,anatomy,NaN,NaN,34944,8410027
5848023,vein,anatomy_anatomy,lymph node vein,NaN,anatomy,anatomy,NaN,NaN,1638,8410033

In [51]:
# get list of gene if head_type is gene
gene_id1 = pkg[pkg['head_type']=='gene']
gene_id1 = gene_id1['head'].tolist()
gene_id2 = pkg[pkg['tail_type']=='gene']
gene_id2 = gene_id2['tail'].tolist()
gene_id = gene_id1 + gene_id2
# delete duplicate gene
gene_id = list(set(gene_id))

In [52]:
potential_edges1

            head    tail
0         CYP3A4  ADRA1D
1           ZG16   PSMD4
2         CYP3A4    MAOA
3         CYP3A4  ADRA1A
4            tau     APC
...          ...     ...
12759      TRAV3   Mr. C
12760   TRAV26-1   Mr. C
12761  TRAV36DV7   Mr. C
12762    TRAV1-1   Mr. C
12763      IGLC6   Mr. C

[12764 rows x 2 columns]

In [53]:
# if head or tail is not in gene_id, remove the row
potential_edges2 = potential_edges1[potential_edges1['head'].isin(gene_id) & potential_edges1['tail'].isin(gene_id)]
potential_edges2

         head     tail
0      CYP3A4   ADRA1D
1        ZG16    PSMD4
2      CYP3A4     MAOA
3      CYP3A4   ADRA1A
13      IFNA2     NPPB
...       ...      ...
12515   FOXP3  ROCK1P1
12516  KLHL38  ROCK1P1
12521   SCNM1  ROCK1P1
12700    MDFI  ROCK1P1
12734    OTX1  ROCK1P1

[6852 rows x 2 columns]

In [54]:
# save the potential edges to a csv file
potential_edges2.to_csv('C:\data\RA\shenlab\SDoH&KG\extension\potential_edges_gene_gene.csv', index=False)

: